# The GCP project identifier to use
project_id  = "my-gcp-project"

# Optional: override us-central1 as region where the resources will be created
region = "us-west1"

# Optional labels to add to resources
labels = {
    "owner" = "tester-name"
}

# Optional: Override default Google Container Registry location
gcr_location = "EU"
